#忽略windows生成的缩略图文件
Thunbs.db
#忽略Visual Studio生成时的产生的文件
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.dll
Duihua.EducationWeb/Attachment/file/9a56445c-72f5-4c27-8595-0fce431fb823@教师作品_6418.jpg
Duihua.EducationWeb/Attachment/file/c910d248-2f36-4fa4-8f1f-9d22f2060ddf@教师作品_6418.jpg
Duihua.EducationWeb/Attachment/file/d3be1740-c644-4233-b5a7-a2fb0078d83b@教师作品_6418.jpg
Duihua.EducationWeb/Attachment/file/学生数据收集.xls
Duihua.EducationWeb/Attachment/img/73fbdab7-d146-4d07-979c-56835a3ac4b8_IMG_3484副本.jpg
Duihua.EducationWeb/Attachment/img/73fbdab7-d146-4d07-979c-56835a3ac4b8_IMG_3484副本_small.jpg
Duihua.EducationWeb/Attachment/img/a752ae03-4d32-4100-8cf3-e6057adaa3a5_IMG_3412副本.jpg
Duihua.EducationWeb/Attachment/img/a752ae03-4d32-4100-8cf3-e6057adaa3a5_IMG_3412副本_small.jpg
Duihua.EducationWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Duihua.EducationWeb/obj/Debug/Duihua.EducationWeb.csproj.FileListAbsolute.txt
Duihua.EducationWeb/obj/Debug/Duihua.EducationWeb.dll
Duihua.EducationWeb/obj/Debug/Duihua.EducationWeb.pdb
Duihua.EducationWeb/obj/Debug/ResolveAssemblyReference.cache
Duihua.Lib/bin/Debug/Duihua.Lib.dll
Duihua.Lib/bin/Debug/Duihua.Lib.pdb
Duihua.Lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Duihua.Lib/obj/Debug/Duihua.Lib.dll
Duihua.Lib/obj/Debug/Duihua.Lib.pdb
Duihua.WebApp/bin/Duihua.Lib.dll
Duihua.WebApp/bin/Duihua.Lib.pdb
Duihua.EducationWeb/bin/Duihua.EducationWeb.dll
Duihua.EducationWeb/bin/Duihua.EducationWeb.pdb
Duihua.EducationWeb/bin/Duihua.Lib.dll
Duihua.EducationWeb/bin/Duihua.Lib.pdb
Duihua.EducationWeb/bin/Duihua.EducationWeb.dll
Duihua.EducationWeb/bin/Duihua.EducationWeb.pdb
Duihua.EducationWeb/bin/Duihua.Lib.dll
Duihua.EducationWeb/bin/Duihua.Lib.pdb
Duihua.Lib/bin/Debug/Duihua.Lib.dll
Duihua.EducationWeb/Attachment/file/38df8cc5-c5e8-455d-8b6c-75d0c2321b7c@学员信息14-15.xls
Duihua.EducationWeb/Attachment/file/692dea41-b893-4f91-8ba6-8f42ca91b2c9@学员信息14-15.xls
Duihua.EducationWeb/Attachment/file/81c7485c-fd6f-4235-982c-6184943e73fb@挽救的文档.doc
Duihua.EducationWeb/Attachment/file/aede1daa-e03a-4bc6-9926-dc513e14293d@学员信息14-15.xls
Duihua.EducationWeb/Attachment/file/bbed147d-0317-4c40-a334-1c06aa0c1785@学员信息14-15.xls
Duihua.Lib/bin/Debug/Duihua.Lib.dll
Duihua.Lib/bin/Debug/Duihua.Lib.pdb
Duihua.Lib/obj/Debug/Duihua.Lib.dll
Duihua.Lib/obj/Debug/Duihua.Lib.pdb
Duihua.WebApp/bin/Duihua.Lib.dll
Duihua.WebApp/bin/Duihua.Lib.pdb
Duihua.WebApp/bin/Duihua.WebApp.dll
Duihua.WebApp/bin/Duihua.WebApp.pdb
Duihua.WebApp/obj/Debug/Duihua.WebApp.csproj.FileListAbsolute.txt
Duihua.WebApp/obj/Debug/Duihua.WebApp.dll
Duihua.WebApp/obj/Debug/Duihua.WebApp.pdb
Duihua.EducationWeb/Attachment/file/cfb1e184-5e07-4fcb-882e-73f8ca449f3f@6353994714618320001257091.jpg
Duihua.EducationWeb/Attachment/file/f22097de-cfe5-4dbc-a690-978e1c89bd77@6353994714618320001257091.jpg
Duihua.EducationWeb/Attachment/file/f6ec0e8b-193e-43d3-acea-9b1241c63993@6353994714618320001257091.jpg
Duihua.EducationWeb/Attachment/img/5385f3de-cb4b-404a-970e-ebdc2cc2570c_6353994714618320001257091.jpg
Duihua.EducationWeb/Attachment/img/5385f3de-cb4b-404a-970e-ebdc2cc2570c_6353994714618320001257091_small.jpg
Duihua.EducationWeb/Attachment/img/66b1612c-a98d-4d07-882b-1671b517d6cb_6353994714618320001257091.jpg
Duihua.EducationWeb/Attachment/img/66b1612c-a98d-4d07-882b-1671b517d6cb_6353994714618320001257091_small.jpg
Duihua.EducationWeb/bin/Duihua.EducationWeb.dll
Duihua.EducationWeb/bin/Duihua.EducationWeb.pdb
Duihua.EducationWeb/bin/Duihua.Lib.dll
Duihua.EducationWeb/bin/Duihua.Lib.pdb
