#忽略windows生成的缩略图文件
Thunbs.db
#忽略Visual Studio生成时的产生的文件
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.dll
Duihua.EducationWeb/Attachment/file/9a56445c-72f5-4c27-8595-0fce431fb823@教师作品_6418.jpg
Duihua.EducationWeb/Attachment/file/c910d248-2f36-4fa4-8f1f-9d22f2060ddf@教师作品_6418.jpg
Duihua.EducationWeb/Attachment/file/d3be1740-c644-4233-b5a7-a2fb0078d83b@教师作品_6418.jpg
Duihua.EducationWeb/Attachment/file/学生数据收集.xls
Duihua.EducationWeb/Attachment/img/73fbdab7-d146-4d07-979c-56835a3ac4b8_IMG_3484副本.jpg
Duihua.EducationWeb/Attachment/img/73fbdab7-d146-4d07-979c-56835a3ac4b8_IMG_3484副本_small.jpg
Duihua.EducationWeb/Attachment/img/a752ae03-4d32-4100-8cf3-e6057adaa3a5_IMG_3412副本.jpg
Duihua.EducationWeb/Attachment/img/a752ae03-4d32-4100-8cf3-e6057adaa3a5_IMG_3412副本_small.jpg
Duihua.EducationWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Duihua.EducationWeb/obj/Debug/Duihua.EducationWeb.csproj.FileListAbsolute.txt
Duihua.EducationWeb/obj/Debug/Duihua.EducationWeb.dll
Duihua.EducationWeb/obj/Debug/Duihua.EducationWeb.pdb
Duihua.EducationWeb/obj/Debug/ResolveAssemblyReference.cache
Duihua.Lib/bin/Debug/Duihua.Lib.dll
Duihua.Lib/bin/Debug/Duihua.Lib.pdb
Duihua.Lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Duihua.Lib/obj/Debug/Duihua.Lib.dll
Duihua.Lib/obj/Debug/Duihua.Lib.pdb
Duihua.WebApp/bin/Duihua.Lib.dll
Duihua.WebApp/bin/Duihua.Lib.pdb
Duihua.EducationWeb/bin/Duihua.EducationWeb.dll
Duihua.EducationWeb/bin/Duihua.EducationWeb.pdb
Duihua.EducationWeb/bin/Duihua.Lib.dll
Duihua.EducationWeb/bin/Duihua.Lib.pdb
Duihua.EducationWeb/bin/Duihua.EducationWeb.dll
Duihua.EducationWeb/bin/Duihua.EducationWeb.pdb
Duihua.EducationWeb/bin/Duihua.Lib.dll
Duihua.EducationWeb/bin/Duihua.Lib.pdb
Duihua.Lib/bin/Debug/Duihua.Lib.dll
